/* CONTATO */

.contato {
  background: url("../img/bg-contato.jpg") no-repeat center center;
  background-size: cover;
  padding: 0px;
}

/* WHATSAPP */

.wpp {
  text-align: center;
}

.wpp-box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
  font-style: italic;
  text-align: left;
  background: #fff;
  padding: 2rem;
  border: 1px solid var(--white-3);
  max-width: 526px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* ATENDIMENTO */

.atendimento {
  width: 100%;
  background: var(--white-2);
}

.atendimento-container {
  display: grid;
  grid-template-columns: minmax(250px, 480px) minmax(250px, 1fr);
  gap: 4rem;
}

.form {
  background: var(--white-1);
  border: 1px solid var(--white-3);
  border-radius: 5px;
  padding: 2rem;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  align-self: start;
}

.form label,
.form input,
.form select,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.form input,
.form select {
  margin-bottom: 1rem;
}

.select {
  position: relative;
}

.select::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.5rem;
  background: url("../img/arrow.svg") no-repeat center center;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate3d(0, -50%, 0);
  pointer-events: none;
}

.form input,
.form select,
.form textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.125rem;
  color: var(--black-1);
  padding: 1rem;
  border: 1px solid var(--white-3);
  border-radius: 5px;
  box-sizing: border-box;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form textarea {
  max-width: 100%;
  height: 200px;
  resize: vertical;
}

.form button {
  border: none;
  cursor: pointer;
}

.dados h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.dados h2:first-child {
  margin-top: 0px;
}

.dados a,
.dados p {
  font-size: 1.125rem;
  font-style: italic;
  color: var(--black-1);
  opacity: 0.8;
}

.dados li + li {
  margin-top: 1rem;
}

.dados a:hover {
  text-decoration: underline;
}

.mapa p {
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 1rem;
}

.mapa img {
  border-radius: 5px;
  transition: 0.3s ease;
}

.mapa img:hover {
  opacity: 0.6;
}
