/* TRABALHE CONOSCO */

.trabalhe-conosco {
  background: url("../img/bg-trabalhe-conosco.jpg") no-repeat center center;
  background-size: cover;
  padding: 0px;
}

.procura-se .form {
  margin: 0 auto;
}

.form .curriculo {
  font-size: 0.875rem;
  padding: 0px;
  border: none;
  border-radius: 0px;
  background: none;
}

.curriculo::-webkit-file-upload-button {
  visibility: hidden;
}

.curriculo::before {
  content: "Selecionar";
  font-family: "Poppins", sans-serif;
  display: inline-block;
  background: var(--white-2);
  padding: 0.5rem 1rem;
  border: 1px solid var(--white-3);
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  transition: 0.3s ease;
}

.curriculo:hover::before {
  background: var(--white-3);
}
